@import url("./homepage.less");

.projects {
  display: inline-block;
  margin-left: 0;
  font-size: @font-size-medium;
  color: rgb(0, 0, 255);
  padding-left: 0px;

  & ul {
    display: inline-block;

    list-style-type: none;
    margin: 0; /* To remove default bottom margin */
    padding: 0; /* To remove default left padding */
    padding-left: 10px;
    & li:hover {
      color: @accent-color;
      margin-left: 10px;
      border: 1px solid @accent-color;
    }

    & li:not(:last-child) {
      padding-bottom: 10px;
    }
  }
}

.content-switcher {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  row-gap: 50px;
  column-gap: 200px;
}

.blog-post {
  max-width: 520px;
  color: @text-color;
  font-size: 16px;
  // background-color: red;
}

.content {
  font-size: 14px;
  max-width: 600px;
  color: @text-color;
}

.technologies {
  font-weight: 700;
}

.blog-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
}

.ascii {
  color: @text-color;
  // background-color: @text-color;

  font-family: "IBM Plex Mono";
  text-align: right;
  font-size: 12px;
  line-height: 80%;
}
