@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,200,300,400,500,600,700,800");

@accent-color: rgb(217, 224, 33);
@text-color: rgb(102, 102, 102);
@secondary-color: rgb(0, 0, 255);

@font-size-large: 35px;
@font-size-medium: 25px;
@font-size-small: 10px;

html,
body {
  margin: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.16) url("./assets/pixels.svg") bottom left
    no-repeat;
  background-position-x: calc(50px);
  background-position-y: calc(100% - 20px);
  background-size: 500px;
}

.portfolio {
  // background-color: @accent-color;
  font-family: "helvetica";
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  margin-left: 60px;
}

.introduction {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 20px;

  max-width: 950px;
  overflow-wrap: break-word;

  font-size: @font-size-large;
  color: @text-color;

  & .highlighted {
    background-color: @accent-color;
  }
}

& .text::before {
  content: "";
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: middle;
  background-image: url(./assets/arrow.svg);
  transform: rotate(90deg);

  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.5em;
}

.p5 {
  position: fixed;
  bottom: 10;
  left: 0;

  margin-bottom: 1px;
  margin-left: 1px;
  height: 200px;
  opacity: 20%;
}

.background-pixels {
  margin: 0;
  height: 100%;
}

.background-rect {
  width: 40px;
  height: 100%;
  margin-right: 80px;
  // background-color: rgb(230, 230, 230);

  position: fixed;
  top: 0;
  right: 0;
  z-index: -100;
}

.background-arrows {
  content: "";

  // two arrows, one above the other, make them show in the top
  // right of the page as backgrounds with no repeat
  background-image: url(./assets/wide-arrow.svg), url(./assets/wide-arrow.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right, bottom right;
  background-size: 200px, 200px;
  background-position-y: 25px, 150px;
  background-position-x: calc(100% - 25px), calc(100% - 25px);
  // transform: rotate(-45deg);

  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  z-index: -100;
}
