@accent-color: rgb(217, 224, 33);
@text-color: rgb(102, 102, 102);

html,
body {
  margin: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.16) url("./assets/pixels.svg") bottom left
    no-repeat;
  background-position-x: calc(50px);
  background-position-y: calc(100% - 50px);
  background-size: 500px;
}

.portfolio {
  // background-color: @accent-color;
  font-family: "helvetica";
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 100px;
  gap: 20px;
}

.introduction {
  margin-top: 50px;
  margin-bottom: 50px;

  max-width: 800px;

  & .text {
    font-size: 38px;
    color: @text-color;
  }

  & .text::before {
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: middle;
    background-image: url(./assets/arrow.svg);
    transform: rotate(90deg);

    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5em;
  }

  & .highlighted {
    background-color: @accent-color;
  }
}

.projects {
  display: inline-block;
  margin-left: 0;
  font-size: 25px;
  color: rgb(0, 0, 255);
  padding-left: 0px;

  & ul {
    display: inline-block;

    list-style-type: none;
    margin: 0; /* To remove default bottom margin */
    padding: 0; /* To remove default left padding */
    padding-left: 20px;
    & li:hover {
      color: @accent-color;
      margin-left: 10px;
    }

    & li:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
